= form_for @team, :html => { :class => 'form-horizontal', multipart: true } do |f|
  .form-group{class: "#{'has-error' if @team.errors[:name].present?}"}
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'form-control', maxlength: 255
  .form-group
    = f.label :logo
    = image_tag(@team.logo_url(:large)) if @team.logo?
    = f.file_field :logo
    = f.hidden_field :logo_cache
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), teams_path, :class => 'btn btn-default'
