= form_for @team, :html => { :class => 'form-horizontal', multipart: true } do |f|
  .form-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :encoded_image, :class => 'control-label'
    .controls
      = f.file_field :encoded_image
      %p.help-block= t('.image.help')
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), teams_path, :class => 'btn btn-default'
