= form_for @game, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :home_team_id, :class => 'control-label'
    .controls
      = f.collection_select :home_team_id, @teams, :id, :name, {}, {class: 'form-control'}
  .form-group
    = f.label :away_team_id, :class => 'control-label'
    .controls
      = f.collection_select :away_team_id, @teams, :id, :name, {}, {class: 'form-control'}
  .form-group
    = f.label :location, :class => 'control-label'
    .controls
      = f.text_field :location, :class => 'form-control'
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), games_path, :class => 'btn btn-default'
