.row
  .col-xs-12.scoreboard__period= t("activerecord.values.game.period_#{game.period}")
.row
  .col-xs-12.scoreboard__location= game.location
.row.scoreboard__team_images
  .col-xs-5.scoreboard__team-image.home= team_image game.home_team
  .col-xs-2.scoreboard__vs= "vs."
  .col-xs-5.scoreboard__team-image.away= team_image game.away_team
.row.scoreboard__scores
  .col-xs-12= "#{game.total_home} - #{game.total_away}"
.row
  .col-xs-6= game.home_team.name
  .col-xs-1= ""
  - (1..4).each do |quarter|
    .col-xs-1= game.home_score quarter
  .col-xs-1
    %strong= game.total_home
.row
  .col-xs-6= game.away_team.name
  .col-xs-1= ""
  - (1..4).each do |quarter|
    .col-xs-1= game.away_score quarter
  .col-xs-1.scoreboard__total
    %strong= game.total_away
