- games.each_slice(2) do |row|
  .row
    - row.each do |game|
      .col-md-6.livescore{data: {url: "#{game_path game}"}, class: "#{'started' if game.started?} #{'js-livescore' unless game.final?}"}
        = render partial: '/games/by_line', locals: { game: game }
        .scoreboard__game
          =render partial: '/games/game', locals: { game: game }
          .row.scoreboard__actions
            - if can? :update_score, game
              .col-xs-6= link_to t('games.links.update_score'), edit_score_game_path(game), :class => 'btn btn-default btn-block'
            - if can? :update_score, game
              .col-xs-6= link_to t('games.links.update_quick'), edit_quick_game_path(game), :class => 'btn btn-primary btn-block'
            .col-xs-6= link_to t('games.links.show'), game_path(game), :class => 'btn btn-default btn-block'
            - if can? :create_note, game
              .col-xs-6= link_to t('games.links.create_note'), new_game_note_path(game), :class => 'btn btn-default btn-block'
