- content_for :js_footer do
  :javascript
    $('.js-livescore').livescore( {type: 'game', interval: 45 } )

- if @show_jumbo
  .jumbotron
    %h1=t '.jumbotron.title'
    %p=t '.jumbotron.description'
    %p.text-muted=t '.jumbotron.usage'
- else
  - content_for :title, t('.title')
- unless @current_user
  .row
    .col-sm-12
      .well.well
        .media
          .media-left.pull-left
            %a{href: '/auth/facebook'}
              = image_tag 'social/64/facebook.jpg', title: 'Facebook', class: 'img-rounded media-object'
          .media-body
            = t('.login_with_facebook')
            %a{href: '/auth/facebook'}= t '.login_now'
.page-header
  %h1=t '.title'
  %p.text-muted= t('games.info.reload_not_neccessary')

- if can? :create, Game
  .row
    .col-sm-12.spacer-bottom= link_to t(".links.new_game"), new_game_path, {class: 'btn btn-big btn-primary'}

.row.spacer-bottom
  .col-xs-12
    %h4= t '.team_name.headline'
    %form#team_search.form-inline{role: 'form', method: 'get', url: games_path }
      .form-group
        %input.form-control.input-sm.js-typeahead{name: 'team_name', type: 'text', placeholder: t('.team_name.placeholder'), autocomplete: :off, data: { url: "#{teams_path}", name: "teams" }}
      .form-group
        %input.btn.btn-default.input-sm{type: 'submit', value: t('.links.find_team')}
= render partial: 'games', locals: { games: @games }
