- content_for :js_footer do
  :javascript
    $('.js-livescore').livescore({ type: 'game', interval: 35 })
    $('.js-livescore-notes').livescore({ type: 'notes' })

- title = @game.title
- content_for :title, h(title)

- content_for :fb_image, "#{scoreboard_game_url(@game)}.jpg"
.page-header
  %h1= h title
  %p.text-muted= t('games.info.reload_not_neccessary')

.row.livescore{data: {url: "#{game_path @game}"}, class: "#{'started' if @game.started?} #{'js-livescore' unless @game.final?}"}
  .col-md-6
    = render partial: 'by_line', locals: { game: @game }
    .scoreboard__game
      = render partial: 'game', locals: { game: @game }

    .scoreboard__actions.row
      - if can? :update_score, @game
        .col-xs-6= link_to t('games.links.update_score'), edit_score_game_path(@game), :class => 'btn btn-primary btn-block'
      - if can? :update, @game
        .col-xs-6= link_to t('games.links.update_game'), edit_game_path(@game), :class => 'btn btn-default btn-block'
      - if can? :create_note, @game
        .col-xs-6= link_to t('games.links.create_note'), new_game_note_path(@game), :class => 'btn btn-default btn-block'
      - if can? :destroy, @game
        .col-xs-6= link_to t('games.links.destroy'), game_path(@game), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-block'

  .col-md-6
    - if can? :update, @game
      .panel.panel-default
        .panel-heading
          = t('.share.title')
        .panel-body
          %p= t '.share.body'
          %textarea.form-control{rows: 3, readonly: true}= "<iframe src\"#{widget_game_url}\" width=\"100%\" height=\"250\" frameborder=\"0\"></iframe>"
    = render partial: 'notes/game_notes', locals: { game: @game, notes: @notes }

- if can? :create_supporter, @game
  - content_for :sidebar do
    = render partial: 'game_supporters', locals: { game: @game }

- content_for :sidebar do
  = render partial: 'comments/game_comments', locals: { game: @game, comments: @comments }
