- content_for :js_footer do
  :javascript
    $('.js-livescore').livescore( {type: 'game', interval: 45 } )

.livescore{data: {url: "#{game_path @game}"}, class: "#{'started' if @game.started?} #{'js-livescore' unless @game.final?}"}
  .livescore__topbar
    %span.livescore__period{data: {livescore_path: "period"} }= t("activerecord.values.game.period.#{@game.period}")
    %span.livescore__location= truncate @game.location, length: 18
  .livescore__head
    .livescore__logos
      .livescore__logo_container
        .livescore__logo.home= entity_image @game.home_team, version: :large, size: 90
        .livescore__vs= 'vs.'
        .livescore__logo.away= entity_image @game.away_team, version: :large, size: 90
    .livescore__score.started_visible
      %span.home{data: {livescore_path: "score.home.total"} }= @game.total_home
      %span= "-"
      %span.away{data: {livescore_path: "score.away.total"} }= @game.total_away
    .livescore__date.started_hidden
      %span.date= localize @game.game_day
      - if @game.game_time.present?
        .livescore__time
          =@game.game_time

  .livescore__quarters.started_visible
    %table
      %thead
        %tr
          %th
          %th
          - (1..4).each do |quarter|
            %th= quarter
          %th= 'F'
      %tbody
        - [:home, :away].each do |type|
          %tr
            %td= @game.send("#{type}_team").name
            %td
            - (1..4).each do |quarter|
              %td.points{data: {livescore_path: "score.#{type}.periods[#{quarter - 1}]"}}= @game.score type, quarter
            %td.points{data: {livescore_path: "score.#{type}.total"} }= @game.total type
  .livescore__provided_by
    =link_to t('.provided_by'), game_url(@game), target: '_blank'
