%nav.navbar.navbar-default.navbar-static-top{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: '#livescore-navbar'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if @current_user
        .navbar-avatar
          = entity_image @current_user, {size: 50, class: 'img-rounded' }
      %a.navbar-brand(href="/")
        Footballscores

    #livescore-navbar.navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to t("navbar.scoreboard"), games_path
        - if @current_user
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => "dropdown"}
              = "#{@current_user.common_name}"
              %span.caret
            %ul.dropdown-menu
              %li
                %a{href: "#{logout_path}"}
                  %span.glyphicon.glyphicon-log-out
                  = t('.logout')
        - else
          %li
            %a{href: '/auth/facebook'}
              = t('.login_with')
              = image_tag 'social/24/facebook.png', title: 'Facebook', class: 'img-rounded'
